/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Commented out because they refused to behave properly
// will just use the CDN
//$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
//@import '@fortawesome/fontawesome-free/scss/fontawesome';
//@import '@fortawesome/fontawesome-free/scss/regular';
//@import '@fortawesome/fontawesome-free/scss/solid';
//@import '@fortawesome/fontawesome-free/scss/brands';
//@import 'bootstrap/scss/bootstrap';

// Add any GLOBAl SCSS/CSS to this file for your project. If it is specific
// to a page, use the individual SCSS file that is generated for the controller
// The comments at the top of the file, specifically require_tree .
// and require_self *cannot* be removed.

// Your code here...

body {
    background-color: #7E007B !important;
    text-align: center !important;
    padding-top: 30px;

    a{
        background-color: #7E007B;
        color: #B3C2F2;
        padding: 6px 10px;
    }

    .btn{
        background-color: #7E007B;
        color: #B3C2F2;
        padding: 8px 10px;
    }
}

.navbar {
    background-color: #3D003C !important;
    height: 70px;
    
    .navbar-brand {
        background-color: #3D003C !important;
        color: #B3C2F2;
        font-weight: bold;
    }

    .link{
        color: #B3C2F2; 
    }
}

.container {
    background-color: #3D003C;
    color: #B3C2F2;
    box-sizing: border-box;
    margin: 25px;
    min-width: 350px;
    min-height: 600px;
    padding-left: 40px !important;
    padding-right: 40px !important;

    .table{
        padding-top: 40px;
        background-color: #faf5f6 !important;

        height: 20%;
        color: #37000A; 

        a{
            border-radius: 2px;
            padding: 7px 12px;
        }
    }

    h1{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    // .form{
    //     background-color: #faf5f6;
    // }

    .info{
        background-color: #faf5f6;
        box-sizing: content-box;
        min-height: 40%;
        width: 60%;
        padding: 20px;
        transform: translateY(40%);
        color: #37000A;
        
    }

    .home{
        background-color: #faf5f6;
        box-sizing: content-box;
        min-height: 40%;
        width: 60%;
        padding: 20px;
        color: #37000A; 
    }

    .form-inline .form-control{
        width: 90%;
        margin: 12px;
        
    }
}


