

<h2>What is ./poverty/project?</h2>
<p>
This project includes directories of all non-profit organizations, projects, and/or food banks that offer menstrual products to those who require them. Want to find the closest resource to you? Navigate to a directory and look up your location to find locations closest to you!
</p>
