<!--Project name: ./poverty/resources
Description: This website contains directories containing non-profit organizations, projects, and food banks that help those suffering from period poverty. 
One can create an account and create entries for these directories. Additionally, if you require help or would simply like to donate products, 
you can go to a directory, and search for locations closest to you
Filename: index.html.erb
Description: This page includes the view for the home page. 
Last modified on: 4/20/2022 -->

<div class="container">
<h1>./poverty/resources</h1>
<div class="container home">
<h5>What is the purpose of this website?</h3>
<p>This website contains directories containing non-profit organizations, projects, and food banks that help those suffering from period poverty. 
These locations both offer aid to those who require it as well as accept donations. If you require help or would simply like to donate products, 
go to your state's directory, and search for locations closest to you </p>


<h5>What is period poverty?</h3>
<p>Period poverty is a lack of access to menstrual products, education, hygiene facilities, waste management, or a combination of these. 
It affects an estimated 500 million people worldwide.</p>
</div>
</div>